<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<hr>
<p *ngIf="chores.length>finishedChores.length">Work harder!</p>
<p *ngIf='chores.length==0 && finishedChores.length >= 4; else moreWork'>To earn ice cream treat!</p>
<ng-template #moreWork>
    <h1>More work to earn ice cream!</h1>
</ng-template>

